<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <h1>Hello World :3</h1>

    {{ dump(products[0]) }}


    <ul>
        <li>Nom du produit : {{ products[0].name }}</li>

        {% set description = products[0].description %}

        {% if description is not empty %}
            <li>Description : {{ description }}</li>
        {% else %}
            <li>Il n'y a pas de desc</li>
        {% endif %}
        <li>Quantité en stock : {{ products[0].quantityInStock }}</li>
        <li>Prix : {{ (products[0].price/100)|number_format(2) }}€</li>
        <li>Ajouté au catalogue le : {{ products[0].createdAt|date('d/m/Y') }}</li>
        <li>
            <img src="/build/images/{{ products[0].imageName }}" alt="">
        </li>
    </ul>


{% endblock %}
</body>
</html>
